<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903842230586-sacc4t7nmjo00jg6sjstrgnqgrlv76q8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903842230586-sacc4t7nmjo00jg6sjstrgnqgrlv76q8</string>
	<key>API_KEY</key>
	<string>AIzaSyC19eOGsANmzf3_c4abE7cerlehg7yRzAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>903842230586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter.counter.demo</string>
	<key>PROJECT_ID</key>
	<string>flutter-counter-demo-9209c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-counter-demo-9209c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903842230586:ios:64476223a3b90cee1ca003</string>
</dict>
</plist>